.indexcontainer{
  padding-bottom: 5em;
}


.card-img-top{
  position: relative;
}

.discount{
  position: absolute;
  top: 1px;
  right: 10px;
  z-index: 2;
  background-color: #d63259;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.percentageofdiscount{

  font-size: 24px;
  color: #fff;
}

.percentage{
  color: #fff !important;
}
.disc{
  color: #fff !important;
}
